{
	"chat.commandCenter.enabled": false,
	"chat.detectParticipant.enabled": false,

	"conventionalCommits.autoCommit": false,
	"conventionalCommits.emojiFormat": "emoji",

	"editor.fontFamily": "CommitMono-1_143, Consolas, 'Courier New', monospace",
	"editor.fontLigatures": true,
	"editor.fontVariations": true,
	"editor.renderWhitespace": "all",

	"git.enableCommitSigning": true,

	"gpgIndicator.enablePassphraseCache": true,

	"files.associations": {
			"*.journal": "ledger"
	},

	"mcp": {
			"inputs": [],
			"servers": {
					"mcp-server-time": {
							"command": "python",
							"args": [
									"-m",
									"mcp_server_time",
									"--local-timezone=America/Los_Angeles"
							],
							"env": {}
					}
			}
	},

	"update.enableWindowsBackgroundUpdates": false,
	"update.mode": "manual",

	"window.zoomPerWindow": false,
	"window.zoomLevel": 0.5,

	"workbench.colorTheme": "Default Dark+"
}
