{
	"chat.commandCenter.enabled": false,
	"chat.detectParticipant.enabled": false,

	"conventionalCommits.autoCommit": false,
	"conventionalCommits.emojiFormat": "emoji",

	"diffEditor.ignoreTrimWhitespace": false,

	"editor.fontFamily": "CommitMono-1_143, Consolas, 'Courier New', monospace",
	"editor.fontLigatures": true,
	"editor.fontVariations": true,
	"editor.minimap.enabled": false,
	"editor.renderWhitespace": "all",

	"extensions.ignoreRecommendations": true,

	"git.enableCommitSigning": true,

	"gpgIndicator.enablePassphraseCache": true,

	"files.associations": {
			"*.journal": "ledger"
	},

	"update.enableWindowsBackgroundUpdates": false,
	"update.mode": "manual",

	"window.zoomPerWindow": false,
	"window.zoomLevel": 0.5,

	"workbench.colorTheme": "Default Dark+",
	"workbench.editor.enablePreview": false
}
