{
	"servers": {
		"mcp-server-time": {
			"command": "python",
			"args": [
				"-m",
				"mcp_server_time",
				"--local-timezone=America/Detroit"
			],
			"env": {},
			"type": "stdio"
		}
	},
	"inputs": []
}
