# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*]
charset                  = utf-8

trim_trailing_whitespace = true

end_of_line              = crlf
insert_final_newline     = true

indent_style             = tab
indent_size              = 2

max_line_length          = 120

[*.{yaml,yaml.tmpl}]
indent_style             = space

[dot_config/git/config.tmpl]
end_of_line              = lf

[AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState/settings.json.tmpl]
trim_trailing_whitespace = false

end_of_line              = lf
insert_final_newline     = false

indent_style             = space
indent_size              = 4
