{{ template "Header.tmpl" . }}

$ExcludedHistoryCommands = @("exit", "cd ..", "code .")

$PSReadLineOptions = @{
	HistoryNoDuplicates = $true
	AddToHistoryHandler = {
		Param([string]$line)
		if ($line.Length -le 3) {
			return $false
		}
		if ($ExcludedHistoryCommands -contains $line) {
			return $false
		}
		return $true
	}
}
Set-PSReadLineOption @PSReadLineOptions

$PSReadLineKeyHandler = @{
	Chord = @("Tab")
	Function = "MenuComplete"
}
Set-PSReadLineKeyHandler @PSReadLineKeyHandler

# Ctrl+F - fzf file search
Set-PSReadLineKeyHandler -Chord 'Ctrl+f' -ScriptBlock {
    $fdArgs = @('--color=always', '--type', 'file')
    $fzfOptions = '--height=90% --reverse --border --ansi'

    $Selection = & fd @fdArgs | & fzf ($fzfOptions -split ' ')

    if ($null -ne $Selection) {
        [Microsoft.PowerShell.PSConsoleReadLine]::Insert($Selection)
    }

    #[Microsoft.PowerShell.PSConsoleReadLine]::InvokePrompt()
}