{{ template "Header.tmpl" . }}
Function Set-NewLocation {
	[CmdletBinding()]
	[Alias("mkcd")]
	Param(
		[Parameter(Mandatory=$true)]
		$Path
	)

	New-Item -ItemType Directory $Path | ForEach-Object { Set-Location $_ }
}

Function Set-LocationToContainingDirectory {
	[CmdletBinding()]
	[Alias("cdd")]
	Param(
		[Parameter(ValueFromPipeline)] $Path
	)

	Set-Location -Path ($Path |  Split-Path -Parent)
}

Function Set-LocationInteractive {
	[CmdletBinding()]
	[Alias("cdi")]
	Param(
		[Parameter()]
		[int]$Depth = 3,
		[switch]$File,
		[switch]$All,
		[switch]$Up
	)

	# Build fd command arguments
	$fdArgs = @('--color=always')

	if ($Depth -ne 0) {
		$fdArgs += '--max-depth', $Depth
	}

	if ($File) {
		$fdArgs += '--type', 'file'
	} else {
		$fdArgs += '--type', 'dir', '--exclude', '.git'
	}

	if ($All) {
		# Perform an unrestricted search, including ignored and hidden files. This is an alias for '--no-ignore --hidden'.
		$fdArgs += '--unrestricted'
	}

	if ($Up) {
		$gitRoot = git rev-parse --show-toplevel
		$pattern = [System.IO.Path]::GetRelativePath($PWD, $gitRoot)

		$fdArgs += '.'
		$fdArgs += $pattern
	}

	# Common fzf options
	$fzfOptions = '--height=90% --reverse --border --ansi'

	# Execute fd and fzf
	$Selection = & fd @fdArgs | & fzf ($fzfOptions -split ' ')

	if ($null -ne $Selection) {
		if ($File) {
				Set-Location (Split-Path -Path $Selection -Parent)
		} else {
				Set-Location $Selection
		}
	}
}

Function Copy-LocationToClipboard {
	[CmdletBinding(DefaultParameterSetName='Path')]
	[Alias("pwdc")]
	Param(
		[Parameter(ParameterSetName = 'Posix', Position = 0)]
		[Parameter(ParameterSetName = 'WSL', Position = 0)]
		[Parameter(ParameterSetName = 'Path', Position = 0)]
		[Parameter(Position = 0)]
		$Path = $(Get-Location),
		[Parameter(ParameterSetName = 'Posix')]
		[switch]$Posix,
		[Parameter(ParameterSetName = 'WSL')]
		[switch]$WSL,
		[switch]$Relative
	)

	$ResolvedPath = Resolve-Path -Path $Path -Relative:$Relative
	if ($Posix) {
		$ResolvedPath = ($ResolvedPath.Path ?? $ResolvedPath).Replace('\', '/')
	} elseif ($WSL) {
		$ResolvedPath = ($ResolvedPath -replace '^([A-Za-z]):\\(.*)', {"/mnt/" + $_.Groups[1].Value.ToLower() + "/" + $_.Groups[2].Value}) -replace '\\', '/'
	}
	Set-Clipboard -Value $ResolvedPath

	Write-Host("$(fvl($ResolvedPath)) $(frt('copied to clipboard.'))")
}

function Edit-Profile {
	[Alias("ep")]
	Param()
	code ($PROFILE | Split-Path -Parent)
}

Function Edit-Chezmoi {
	[Alias("ecm")]
	Param()
	code $Env:USERPROFILE\.local\share\chezmoi
}

function Show-ApprovedVerbs {
	[CmdletBinding()]
	param(
			[switch]$SortByVerb
	)

	$verbs = Get-Verb

	if ($SortByVerb) {
		$grouped = $verbs | Sort-Object Verb | Group-Object Group
	}
	else {
		$grouped = $verbs | Group-Object Group
	}

	foreach ($group in $grouped | Sort-Object Name) {
		Write-Host "`n[$($group.Name)]" -ForegroundColor Cyan

		$group.Group | ForEach-Object {
				Write-Host ("{0,-15} - {1}" -f $_.Verb, $_.Description)
		}
	}
}

Function Update-PathEnvironment {
	$Env:PATH = [System.Environment]::GetEnvironmentVariable("PATH", "Machine") + ';' + [System.Environment]::GetEnvironmentVariable("PATH", "User")
}

# create a $Env:USERNAME\.local\share\age\ directory with chmod 700, place appropriate age file in directory


# chmod 700 Owner Full Control - icacls "foldername" /inheritance:r /grant:r "${Env:USERNAME}:(OI)(CI)(F)"
# chmod 700 Owner Full Control - icacls "filename" /inheritance:r /grant:r "${Env:USERNAME}:(F)"
# chmod 600 Owner Read Write - icacls "foldername" /inheritance:r /grant:r "${Env:USERNAME}:(OI)(CI)(R,W)"
# chmod 600 Owner Read Write - icacls "filename" /inheritance:r /grant:r "${Env:USERNAME}:(R,W)"
# chmod 755 Owner Full Control / Group and Everyone Read & Execute /  - icacls "foldername" /inheritance:r /grant:r "${Env:USERNAME}:(OI)(CI)(F)" "Users:(OI)(CI)(RX)" "Everyone:(OI)(CI)(RX)"
# chmod 750 Owner Full Control / Group Read & Execute /  - icacls "foldername" /inheritance:r /grant:r "${Env:USERNAME}:(OI)(CI)(F)" "Users:(OI)(CI)(RX)
# chmod 400 Owner Read - icacls "foldername" /inheritance:r /grant:r "${Env:USERNAME}:(OI)(CI)(R)"
# chmod 644 Owner R+W / Everyone else R
# chmod 440 Owner R / Group R

#SSH-related:
#• ~/.ssh/ directory: 700 (drwx------)
#• ~/.ssh/id_rsa (private keys): 600 (-rw-------)
#• ~/.ssh/id_rsa.pub (public keys): 644 (-rw-r--r--)
#• ~/.ssh/authorized_keys: 600 (-rw-------)
#• ~/.ssh/config: 600 (-rw-------)
#• ~/.ssh/known_hosts: 644 (-rw-r--r--)

#Other common secure files:
#• /etc/shadow: 640 (-rw-r-----)
#• /etc/passwd: 644 (-rw-r--r--)
#• /etc/sudoers: 440 (-r--r-----)
#• User home directory: 755 (drwxr-xr-x)
#• .bashrc, .profile: 644 (-rw-r--r--)
#• .bash_history: 600 (-rw-------)

# Test-Path -Path . -PathType Container - folder
# Test-Path -Path . -PathType Leaf - file
