{{ template "Header.tmpl" . }}
. "$PSScriptRoot/Profile/Environment.ps1"

. "$PSScriptRoot/Profile/Imports.ps1"

. "$PSScriptRoot/Profile/ProfileFunctions.ps1"

. "$PSScriptRoot/Profile/PowerShellConfiguration.ps1"

. "$PSScriptRoot/Profile/Aliases.ps1"

. "$PSScriptRoot/Profile/ShellEnhancements.ps1"

{{ if lookPath "aws" }}. "$PSScriptRoot/Profile/Aws.ps1"{{ end }}

{{ if lookPath "git" }}. "$PSScriptRoot/Profile/GitFunctions.ps1"{{ end }}

{{ if lookPath "dotnet" }}. "$PSScriptRoot/Profile/Dotnet.ps1"{{ end }}

{{ if lookPath "starship" }}. "$PSScriptRoot/Profile/StarshipConfiguration.ps1"{{ end }}

. "$PSScriptRoot/Profile/ShellCompletions.ps1"
{{ range $index, $element := .roles }}
{{- $path := printf "$PSScriptRoot/Roles/%s.ps1" $element }}
if (Test-Path -Path "{{ $path }}" -PathType Leaf) {
  . "{{ $path }}"
}
{{ else -}}
{{ end }}
Invoke-Expression (& { (zoxide init powershell | Out-String) })
