{{ template "Header.tmpl" . }}
. "$PSScriptRoot/Profile/Imports.ps1"

. "$PSScriptRoot/Profile/ProfileFunctions.ps1"

. "$PSScriptRoot/Profile/PowerShellConfiguration.ps1"

. "$PSScriptRoot/Profile/Aliases.ps1"

. "$PSScriptRoot/Profile/ShellEnhancements.ps1"

{{ if lookPath "aws" }}. "$PSScriptRoot/Profile/Aws.ps1"{{ end }}

. "$PSScriptRoot/Profile/ShellCompletions.ps1"



Invoke-Expression (&starship init powershell)
Invoke-Expression (& { (zoxide init powershell | Out-String) })
