{{ template "Header.tmpl" . }}
[user]
	name = "Brad Knowles"
	email = {{ .git.email | quote }}
	signingKey = {{ .git.gpgSigningKey | quote }}

[commit]
	gpgSign = true

[core]
	autocrlf = true
	whitespace = blank-at-eol,space-before-tab,blank-at-eof

[credential]
	helper = manager

[diff]
	colormoved = zebra
	tool = bc
	wsErrorHighlight = all
[difftool "bc"]
	path = C:\\Program Files\\Beyond Compare 5\\BComp.exe
[difftool]
	prompt = false

[fetch]
	prune = true

[gpg]
	program = {{ lookPath "gpg" | quote }}

[http]
	sslbackend = schannel

[init]
	defaultBranch = main
[i18n]
	filesEncoding = utf-8

[merge]
	tool = bc
[mergetool "bc"]
	path = C:\\Program Files\\Beyond Compare 5\\BComp.exe
[mergetool]
	keepBackup = false

[pull]
	autoStash = true
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true

[rebase]
	autoStash = true
	autoSquash = false
	updateRefs = true
[rerere]
	enabled = true

[stash]
	showIncludeUntracked = true

[alias]
	a = add --verbose
	aa = add --all --verbose
	af = add --force --verbose
	ai = add --interactive
	ap = add --patch
	au = add --update --verbose

	b = branch
	bdi = "!git branch | sed \"s/^[* ]*//\" | fzf --height=~100% --layout=reverse --border=rounded --multi --header='Delete Branch(es)\nTAB: Select; CTRL-D: Deselect all; ESC: Abort' --header-border=rounded --bind=ctrl-d:deselect-all | xargs -r git branch -d"

	clu = clean -dn
	cli = clean -dXn
	cla = clean -dnx
	cluf = !git clean -dn && read -p \"Are you sure you want to clean untracked files? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git clean -df || echo \"Operation cancelled\"
	clif = !git clean -dXn && read -p \"Are you sure you want to clean ignored files? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git clean -dXf || echo \"Operation cancelled\"
	claf = !git clean -dxn && read -p \"Are you sure you want to clean untracked AND ignored files? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git clean -dxf || echo \"Operation cancelled\"

	cm = commit
	cma = commit --amend
	cmm = commit --message

	deltags = !read -p \"Are you sure you want to delete all tags? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git tag -l | xargs git tag -d || echo \"Operation cancelled\"
	delrtags = !read -p \"Are you sure you want to delete all tags on the remote? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git tag -l | xargs git push --delete origin || echo \"Operation cancelled\"

	dc = checkout --
	# `git diff` with difftastic.
	dft = -c diff.external=difft diff
	# `git log` with patches shown with difftastic.
	dl = -c diff.external=difft log -p --ext-diff
	# Show the most recent commit with difftastic.
	ds = -c diff.external=difft show --ext-diff
	dt = difftool
	dtc = difftool --cached

	ec = config edit --global

	f = fetch --verbose

	l = "!f() { git log -$1; }; f"
	la = config --get-regexp alias
	lns = log --name-status
	log = log --show-signature
	lol = log --oneline
	lolm = log --oneline main..HEAD

	ma = merge --abort
	mt = mergetool
	mnff = merge --no-ff
	mpr = merge --no-ff --no-commit

	p = push
	pl = pull

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rv = revert
	rva = revert --abort
	rvc = revert --continue

	s = status --branch --short --untracked-files=all
	sw = switch
	swc = switch --create
	swi = !git branch | fzf --height=40% --reverse --border --prompt=\"Switch to branch: \" | xargs -r git switch
	swir = !git branch -r | grep -v HEAD | sed \"s|origin/||\" | fzf --height=40% --reverse --border --prompt=\"Switch to remote branch: \" | xargs -r git switch
	swm = switch main

	stc = !read -p \"Are you sure you want to clear all stashes? [y/N] \" confirm && [[ $confirm == \"y\" ]] && git stash clear || echo \"Operation cancelled\"
	stl = stash list --format='%gd (%ad): %gs'
	sts = "!f() { git show stash@{$1} --name-status; }; f"
	sts2 = "!f() { git stash show stash@{$1}; }; f"
	std = "!f() { git -c diff.external=difft stash show -p stash@{$1} --ext-diff; }; f"

	tl = tag --list --format=%(color:yellow)%(if)%(*objectname)%(then)%(*objectname:short)%(else)%(objectname:short)%(end)%(color:reset)%09%(color:brightgreen)%(refname:strip=2)%(color:reset)%09%(contents:subject)

	us = reset HEAD

	wt = worktree
	wtl = worktree list
	wtr = worktree remove
	wta = worktree add
