{{ template "Header.tmpl" . }}
Set-Alias -Name c -Value Clear-Host
Set-Alias -Name cm -Value chezmoi
Set-Alias -Name dn -Value dotnet
Set-Alias -Name e -Value C:\Windows\explorer.exe
Set-Alias -Name g -Value git
