{{ template "Header.tmpl" . }}
Function Set-AWSProfile() {
	[CmdletBinding()]
	[Alias("sap")]
	Param(
		[Parameter(Mandatory=$true)]
		$Profile
	)

	$previousProfile = $Env:AWS_PROFILE ?? "empty"
	$Env:AWS_PROFILE = $Profile
	Set-AWSCredential -ProfileName $Profile -Scope Global

	Write-host "$(frt('Updated')) $(fvr('AWS_PROFILE')) $(frt('from')) $(fvl($previousProfile)) $(frt('to')) $(fvl($Profile))"
}

Function Set-AWSRegion() {
	[CmdletBinding()]
	[Alias("sar")]
	Param(
		[Parameter(Mandatory=$true)]
		$Region
	)

	$PreviousRegion = $env:AWS_REGION
	$env:AWS_REGION = $Region
	Set-DefaultAWSRegion -Region $Region

	Write-host "$(frt('Updated')) $(fvr('AWS_REGION')) $(frt('from')) $(fvl($PreviousRegion)) $(frt('to')) $(fvl($Region))"
}

Function Clear-AWSProfile() {
	[CmdletBinding()]
	[Alias("cap")]
	Param()

	$evs = Get-ChildItem -Path "Env:\AWS_*"
	$evs | ForEach-Object {
		Write-Host "$(fvr($_.Name)) $(frt('cleared'))"
	}
	Remove-Item -Path Env:AWS_*
	Clear-AWSCredential
}
