{{ template "Header.tmpl" . }}
Function Format-ResultText() {
	[CmdletBinding()]
	[Alias("frt")]
	Param(
		[string]$Text
	)

	# Actually Dark Yellow
	"$($PSStyle.Foreground.Yellow)$Text$($PSStyle.Reset)"
}

Function Format-Variable() {
	[CmdletBinding()]
	[Alias("fvr")]
	Param(
		[string]$Text
	)

	# Actually Cyan
	"$($PSStyle.Foreground.BrightCyan)$Text$($PSStyle.Reset)"
}

Function Format-Value() {
	[CmdletBinding()]
	[Alias("fvl")]
	Param(
		[string]$Text
	)

	# Actually Blue
	"$($PSStyle.Foreground.BrightBlue)$Text$($PSStyle.Reset)"
}
