{{ template "Header.tmpl" . }}
Function Format-ResultText() {
	[CmdletBinding()]
	[Alias("frt")]
	Param(
		[string]$Text
	)

	# Actually Dark Yellow
	"$($PSStyle.Foreground.Yellow)$Text$($PSStyle.Reset)"
}

Function Format-Variable() {
	[CmdletBinding()]
	[Alias("fvr")]
	Param(
		[string]$Text
	)

	# Actually Cyan
	"$($PSStyle.Foreground.Cyan)$Text$($PSStyle.Reset)"
}

Function Format-Value() {
	[CmdletBinding()]
	[Alias("fvl")]
	Param(
		[string]$Text
	)

	# Actually Blue
	"$($PSStyle.Foreground.BrightBlue)$Text$($PSStyle.Reset)"
}

Function Format-Sucess() {
	[CmdletBinding()]
	[Alias("fs")]
	Param(
		[string]$Text
	)

	# Actually Green
	"$($PSStyle.Foreground.BrightGreen)$Text$($PSStyle.Reset)"
}

Function Format-Cancelled() {
	[CmdletBinding()]
	[Alias("fca")]
	Param(
		[string]$Text
	)
	# Actually Grey
	"$($PSStyle.Foreground.BrightBlack)$Text$($PSStyle.Reset)"
}
