{{ template "Header.tmpl" . }}
# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

[battery]
disabled = false

[directory]
fish_style_pwd_dir_length = 1
truncation_length = 1
style = 'cyan'

[dotnet]
detect_extensions = ['csproj', 'fsproj', 'xproj', 'sln']
heuristic = false

[git_commit]
only_detached = false
tag_disabled = false

[time]
disabled = false
format = '🕙[ $time ]($style)'
{{ if has "Work" .roles }}
{{- $workTarget := joinPath .chezmoi.homeDir ".config/starship-work.toml" }}
### Included from {{ $workTarget }}
{{ joinPath .chezmoi.sourceDir "dot_config/encrypted_starship-work.toml.tmpl.age" | include | decrypt }}
### End {{ $workTarget }}
{{ end -}}
