{{ template "Header.tmpl" . }}
[battery]
disabled = false

[directory]
fish_style_pwd_dir_length = 1
truncation_length = 1
style = 'cyan'

[dotnet]
detect_extensions = ['csproj', 'fsproj', 'xproj', 'sln']

[time]
disabled = false
format = '🕙[ $time ]($style)'
